@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.unorderedList {
    @include media-breakpoint-down(lg) {
        list-style: none;
        padding: 0;
    }  
}

.image {
    @include media-breakpoint-down(lg) {
        height: 500px;
    }  
}

.courseContainer {
    margin-bottom: 8rem;
    @include media-breakpoint-down(lg) {
        margin-bottom: 5rem;
    }  
}

