//////// Variables ////////

$body-bg: #f8fafc;
$primary: #123c65;

$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$navbar-brand-margin-end: 50px;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'react-toastify/scss/main';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Files
@import 'styles/Components/Calendar';



.required-asterisk {
    color: var(--bs-danger);
    margin-left: .15rem;
}

.table {
    > :not(:first-child) {
        border-top: unset;
    }

    td {
        vertical-align: middle;
    }

    tfoot tr td {
        border-bottom-width: 0;
    }

    .pagination {
        margin-bottom: unset;
    }
}

.users-table {
    td {
        max-width: 250px;
    }
    .table-cell-link {
        text-decoration: none;
        color: var(--bs-table-striped-color);

        &:hover {
            text-decoration: underline;
            color: var(--bs-table-striped-color);
        }
    }
}

.btn {
    width: fit-content;
    border-radius: 30px;
}

.pac-container {
    z-index: 1051 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.navbar {
    .navbar-brand {
        text-transform: uppercase;
    }
}


